* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: #EEEEEE;
    margin: auto;

}
body {
    width: 800px;
    background-color: #aca9a9;

}

.wrapper{
    width: 800px;
    background-color: #403d3d;

}
.map-size {
    height: 600px;
    width: 800px;
}
.map-img {

    background-color: white;
    background-image: url('../assets/images/roof-plan.jpg');
    background-position: center;
    background-size: stretch;
    background-repeat: no-repeat;
    position: fixed;
    border: 2px solid #333;
    box-shadow: 0 2px 11px gray;
    cursor: crosshair;
}

#crossHair {
    padding-left: 3px;
    border-radius: 3px;
    position: fixed;
    user-select: none;
    font-size: 1em;
    width: 64px;
    color: #EEEEEE;
    background-color: rgb(0, 183, 79);
    
}
.spot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(0, 183, 79);
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border: 2px solid #333;
    font-size: smaller;
}