* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body { overflow-x: auto; overflow-y: auto;} body { position: relative; } 


html, body {
    height: 100%;
    overflow: hidden;
    /* background-color: #d22b2b; */
    margin: auto;
    height: 100vh;


}
.bg-main {
    background-color: rgb(0, 183, 79);
}
body {
    width: 100%;
    background-color: #aca9a9;
    height: 100%;

}

.wrapper{
    width: 800px;
    /* background-color: #403d3d; */
    height: 100vh;

}
.map-size {
    height: 600px;
    width: 800px;
}
.map-img {

    background-color: white;
    background-image: url('../assets/images/roof-plan.jpg');
    background-position: center;
    background-size: stretch;
    background-repeat: no-repeat;
    position: relative;
    border: 2px solid #333;
    box-shadow: 0 2px 11px gray;
    cursor: default;
}


#crossHair {
    padding-left: 3px;
    border-radius: 3px;
    position: fixed;
    user-select: none;
    font-size: 1em;
    width: 60px;
    color: #EEEEEE;
    background-color: rgb(63, 63, 63);
    font-size: smaller;
    padding-left: 13px;

    
}
.spot {

    
    
    position: absolute;

    /* background-color: rgb(0, 183, 79);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border: 2px solid #2108ab;
    font-size: smaller;
    padding-top: 8px;
    border-radius: 50%; */
}
.spot:hover{
    cursor: pointer;
}

.plus {
    height: 20px; /* control the size */
    aspect-ratio: 2/3;
    mask: 
      conic-gradient(from -30deg at bottom,#0000,#000 1deg 59deg,#0000 60deg) bottom/100% 50% no-repeat, 
      radial-gradient(circle at 50% calc(100% / 3),#0000 21.5%,#000 22% 44%,#0000 44.5%);
    background: #ec1a23;

}